#vscode
.vscode

# ignore build dir
build

# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.o
*.elf

# ignore cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json